:root {
  --background-color: rgb(255 204 0);
  --color-title: rgb(176, 255, 229);
  --logo-c1: rgb(255 204 0);
  --logo-c2: rgb(213 161 0);
  --logo-c3: rgb(0 117 190);
  --logo-c4: rgb(10 40 95);
  --button-c1: rgb(28 76 189);
  --button-c2: rgb(94 189 252);
  --buton-c3: rgb(22 214 251);
  --nav-c1: rgb(206 34 17);
}

*{
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  font-weight: 600;
}

/* Header styles */
.navbar {
  padding: 20px;
  background-color: var(--nav-c1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);;
}

.navbar-brand {
  align-items: center;
}

.logoheader {
  width: 150px;
  }

.container {
  text-align: center;
  align-items: center;
  margin-top: 120px; 
}
  
/* Home styles */

.button {
  background-color: var(--buton-c1);
  color: #fff;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 15px;
  margin: 5px;
  height: 50px;
  width: 250px;
}
.btn-secondary {

}

.btn:hover,
  .btn:focus {
    background-color: var(--button-c2);
    background-position: 0 -15px;
  }
.btn:active,
.btn.active {
    background-color: #265a88;
    border-color: #245580;
  }

.modal-header {
  background-color: var(--nav-c1);
  color: #fff;
  text-transform: uppercase;
}